<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="deion" content="">
    <meta name="author" content="">
    <title>SWECCA - Login</title>
    <link rel="shortcut icon" href="https://i.imgur.com/Vq3EzL4.png" type="image/x-icon"/>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark" style="background-color: #EEE9E9 !important;">
<div class="container" align="center">

    <div class="card card-login mx-auto"
         style="margin-top: 20%; padding: 5px; -webkit-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.67); -moz-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.67); box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.67);">
        <div class="mx-auto" style="margin-top:3%;">
            <img src="https://i.imgur.com/2JSLghs.png" alt="Logo" title="Home page" width="100">
            <a class="align-middle"
               style="pointer-events:none;font-size: 3.5rem !important; color: #1E90FF !important; font-weight: 500 !important; text-align: center !important;">SWECCA</a>
        </div>
        <div class="card-body">
            <form id="form_login">
                <div class="form-group">
                    <input class="form-control" id="exampleInputUserName" type="email" aria-describedby="emailHelp"
                           v-model="email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input class="form-control" id="exampleInputPassword" type="password"
                           v-model="senha" placeholder="Senha" required="required">
                </div>
                <a class="btn btn-primary btn-block" v-on:click="logar"
                   style="cursor: pointer; color: #EEE9E9 ; background-color: #1E90FF">Acessar</a>
            </form>
        </div>
    </div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script>
    var now = new Date();
    var form_login = new Vue({
        el: '#form_login',
        data: {
            email:'',
            senha:'',
        },
        methods: {
            logar:function () {
                if (this.email!= '' && this.senha != ''){
                    console.log("email"+this.email+"senha "+this.senha);
                    this.$http.post("http://localhost:8080/login/?email="+this.email+"&senha="+this.senha)
                        .then(function (res) {
                            console.log("entrou")
                            window.location = 'index.html';
                        })
                }else {
                    alert("Preencha todos os campos")
                }
            },

//            data_validate: function () {
//                if( this.vars.username != '' && this.vars.password != '' ){
//                    console.log("email"+this.vars.username+"senha"+this.vars.password);
//                    console.log("entrou");
//                    tempo_sessao = now.getYear()+now.getMonth()+now.getDay()+now.getHours()+now.getMinutes()+now.getMilliseconds();
//                    this.$http.post("http://localhost:8080/login/?email="+this.vars.username+"&senha="+this.vars.password)
//                        .then(function (res) {
//                            window.sessionStorage.setItem('tempo_sessao', now.getTime());
//                            console.log(res);
//                            //console.log('tempo setado: '+window.sessionStorage.getItem('tempo_sessao'))
//                            window.location = 'index.html';
//                        }, function (res) {
//                            //console.log("Erro ao logar: = "+res);
//                            if(res.status == 401)
//                                alert("Invalid user");
//                        });
//                }else{
//                    alert('To access fill in your email and password');
//                }
//
//            }
        }
    });

    $(document).keypress(opera_evento);
    function opera_evento(e){
        var tecla = (e.keyCode?e.keyCode:e.which);
        if( tecla == 13 ){
            form_login.logar();
        }
    }
</script>
</body>
</html>
