<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo Caixa
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-caixa" style="width: 40%; float: left;">
                            <input type="text" class="form-control" v-model="newCaixa.descricao" placeholder="Descrição">
                        </div>

                        <div class="form-group" style="width: 28%; float: left; margin-left: 2%;">
                            <input type="text" class="form-control" v-model="newCaixa.valor" placeholder="Valor">
                        </div>

                        <div class="form-group" style="width: 28%; float: left; margin-left: 2%;">
                            <input type="text" class="form-control" v-model="newCaixa.status" placeholder="Status">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-caixa" style="width: 24%; float: left;">
                            <select v-model="newCaixa.formaPagamento" class="form-control" id="formaPagamento">
                                <option value="" disabled selected>Forma de Pagamento</option>
                                <option v-for="f in formasPagamento" v-bind:value="f">
                                    {{ f.descricao }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <select v-model="newCaixa.tipoDespesa" class="form-control" id="tipoDespesa">
                                <option value="" disabled selected>Tipo de Despesa</option>
                                <option v-for="t in tiposDespesa" v-bind:value="t">
                                    {{ t.descricao }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <select v-model="newCaixa.fornecedor" class="form-control" id="fornecedor">
                                <option value="" disabled selected>Fornecedor</option>
                                <option v-for="x in fornecedores" v-bind:value="x">
                                    {{ x.nome }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <select v-model="newCaixa.cliente" class="form-control" id="cliente">
                                <option value="" disabled selected>Cliente</option>
                                <option v-for="c in clientes" v-bind:value="c">
                                    {{ c.nome }}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted col-sm-12">
            <span><!--Swecca--></span>
            <div align="right">
                <input type="button" class="btn btn-sm float-left" style="background-color: #d9534f; color: white;"
                       v-on:click="this.open_file('caixa-list.html')" value="Voltar">
                <input type="button" class="btn" style="background-color: green; color: white;" v-on:click="save" value="Salvar">
            </div>
        </div>
    </div>
</div><!-- end container -->
<script src="/js/caixa.js"></script>

    <!--ul style="list-style-type: none">
        <li class="col-12 to-left" v-for="(m,index) in caixas">{{m.descricao}}, {{m.valor}}
            <button type="button" v-on:click="deleteCaixa(m.remote_id)">Apagar</button>
            <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
        </li>
    </ul-->