<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo Fornecedor
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="width: 36.66%; float: left;">
                            <input type="text" class="form-control" v-model="newFornecedor.nome" placeholder="Nome">
                        </div>

                        <div class="form-group" style="width: 36.66%; float: left; margin-left: 1.33%;">
                            <input type="email" class="form-control" v-model="newFornecedor.email" placeholder="Email">
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input id="cpf" type="text" class="form-control" v-model="newFornecedor.cpfCnpj" placeholder="CPF/CNPJ">
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group" style="width: 24%; float: left;">
                            <input id="cel" type="text" class="form-control" v-model="newFornecedor.telefone" placeholder="Telefone">
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input type="text" class="form-control" v-model="newFornecedor.contato" placeholder="Contato">
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input type="text" class="form-control" v-model="newFornecedor.info" placeholder="Info">
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input id="rg" type="text" class="form-control" v-model="newFornecedor.rgIe" placeholder="RG">
                        </div>

                    </div>

                    <div class="col-md-12">

                        <div class="form-group" style="width: 38.66%; float: left;">
                            <input id="estado" type="text" class="form-control" v-model="newEndereco.estado" placeholder="Estado">
                        </div>

                        <div class="form-group" style="width: 38.66%; float: left; margin-left: 1.33%;">
                            <input type="text" class="form-control" v-model="newEndereco.cidade" placeholder="Cidade">
                        </div>

                        <div class="form-group" style="width: 20%; float: left; margin-left: 1.33%;">
                            <input id="cep" type="text" class="form-control" v-model="newEndereco.cep" placeholder="CEP">
                        </div>
                    </div>
                    
                    <div class="col-md-12">

                        <div class="form-group" style="width: 38.66%; float: left;">
                            <input type="text" class="form-control" v-model="newEndereco.bairro" placeholder="Bairro">
                        </div>

                        <div class="form-group" style="width: 38.66%; float: left; margin-left: 1.33%">
                            <input type="text" class="form-control" v-model="newEndereco.rua" placeholder="Rua">
                        </div>

                        <div class="form-group" style="width: 20%; float: left; margin-left: 1.33%;">
                            <input id="num" type="text" class="form-control" v-model="newEndereco.numero" placeholder="Número">
                        </div>

                    </div>

                </div>
            </form>
        </div>
        <div class="card-footer small text-muted col-sm-12">
            <span><!--Swecca--></span>
            <div align="right">
                <input type="button" class="btn btn-sm float-left" style="background-color: #d9534f; color: white;"
                       v-on:click="this.open_file('fornecedor-list.html')" value="Voltar">
                <input type="button" class="btn" style="background-color: green; color: white;" v-on:click="save" value="Salvar">
            </div>
        </div>
    </div>
</div><!-- end container -->
<script src="/js/jquery_mask.js"></script>
<script src="/js/fornecedor.js"></script>
<script src="http://www.receita.fazenda.gov.br/aplicacoes/atcta/cpf/funcoes.js"></script>


    <!--ul style="list-style-type: none">
        <li class="col-12 to-left" v-for="(m,index) in fornecedors">{{m.nome}}, {{m.telefone}}
            <button type="button" v-on:click="deleteFornecedor(m.remote_id)">Apagar</button>
            <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
        </li>
    </ul-->