<!DOCTYPE html>
<html lang="pt_BR" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container">
    <div class="form-fornecedor box-input col-3 to-left">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" v-model="newFornecedor.nome" id="nome">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="endereco">Endereço:</label>
        <select v-model="newFornecedor.endereco" class="form-control" id="endereco">
            <option value="" disabled selected>Endereço</option>
            <option v-for="e in enderecos" v-bind:value="e.id">
                {{ e.nome }}
            </option>
        </select>
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="cpfCnpj">CPF/CNPJ:</label>
        <input type="text" class="form-control" v-model="newFornecedor.cpfCnpj" id="cpfCnpj">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="rgIe">RG:</label>
        <input type="text" class="form-control" v-model="newFornecedor.rgIe" id="rgIe">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="telefone">Telefone:</label>
        <input type="text" class="form-control" v-model="newFornecedor.telefone" id="telefone">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="contato">Contato:</label>
        <input type="text" class="form-control" v-model="newFornecedor.contato" id="contato">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="info">Info:</label>
        <input type="text" class="form-control" v-model="newFornecedor.info" id="info">
    </div>

    <div class="form-fornecedor box-input col-3 to-left">
        <label for="email">Email:</label>
        <input type="email" class="form-control" v-model="newFornecedor.email" id="email">
    </div>

    <div class="form-fornecedor box-input col-3 to-right box-btns">
        <button type="button" class="to-right btns btn-cancel" v-on:click="clear">Cancelar</button>
        <button type="button" class="to-right btns btn-save" v-on:click="save">Salvar</button>
    </div>
    <ul style="list-style-type: none">
        <li class="col-12 to-left" v-for="(m,index) in fornecedors">{{m.nome}}, {{m.telefone}}
            <button type="button" v-on:click="deleteFornecedor(m.remote_id)">Apagar</button>
            <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
        </li>
    </ul>
</div>
<script src="../js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script src="../js/fornecedor.js"></script>
</body>
</html>