<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <a href="#" onclick="open_file('relatorioVendas.html')" class="float-left">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> <i class="fa fa-money" aria-hidden="true"></i>
                Relatórios de Vendas
            </a>
            <a href="#" onclick="open_file('relatorioFinanceiro.html')" class="float-right">
                <i class="fa fa-dollar" aria-hidden="true"></i> Relatórios do Financeiro <i class="fa fa-arrow-right"
                                                                                            aria-hidden="true"></i>
            </a>
        </div>

        <div class="card-header col-sm-12">
            <i class="fa fa-user" aria-hidden="true"></i> Relatórios de Cadastros
        </div>

        <div class="col-md-12" style="padding: 0px;">
            <ul class="nav nav-tabs mb-5" style="background-color: rgba(0,0,0,.03)">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel4" role="tab" onclick="clear()">Lista de Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel11" role="tab" onclick="clear()">Posição de Estoques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel12" role="tab" onclick="clear()">Lista de Fornecedores</a>
                </li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content" style="padding: 0px 15px 0px 15px !important;">

                <div class="tab-pane fade in show active" id="panel4" role="tabpanel">
                    <div class="col-md-12">
                        <div class="form-group" style="width: 49.33%; float: left;">
                            <select v-model="listaCliente.nome" class="form-control" id="cliente">
                                <option value="" selected>Qualquer Cliente</option>
                                <option v-for="c in clientes" v-bind:value="c">
                                    {{ c.nome }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 49.33%; float: left; margin-left: 1.33%;">
                            <select v-model="listaCliente.nomeVendedor" class="form-control" id="vendedor">
                                <option value="" selected>Qualquer Cliente</option>
                                <option v-for="v in vendedores" v-bind:value="v">
                                    {{ v.nome }}
                                </option>
                            </select>
                        </div>

                        <div align="right">
                            <input type="button" class="btn btn-sm" style="background-color: #337ab7; color: white;"
                                   v-on:click="relatCliente()" value="Gerar Relatório">
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="panel11" role="tabpanel">
                    <div class="col-md-12">
                        <div class="form-group" style="width: 100%; float: left;">
                            <select v-model="this.listaPosicao.nome" class="form-control" id="produto">
                                <option value="" selected>Todos os Produtos</option>
                                <option v-for="p in produtos" v-bind:value="p">
                                    {{ p.nome }}
                                </option>
                            </select>
                        </div>

                        <div align="right">
                            <input type="button" class="btn btn-sm" style="background-color: #337ab7; color: white;"
                                   v-on:click="relatPosicao()" value="Gerar Relatório">
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="panel12" role="tabpanel">
                    <div class="col-md-12">
                        <div class="form-group" style="width: 100%; float: left;">
                            <select v-model="listaFornecedor.nome" class="form-control" id="fornecedor">
                                <option value="" selected>Todos os Fornecedores</option>
                                <option v-for="f in fornecedores" v-bind:value="f">
                                    {{ f.nome }}
                                </option>
                            </select>
                        </div>

                        <div align="right">
                            <input type="button" class="btn btn-sm" style="background-color: #337ab7; color: white;"
                                   v-on:click="relatFornecedor" value="Gerar Relatório">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div><!-- end container -->
<script src="/js/relatorioCadastros.js"></script>

