<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo Tipo de Produto
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group" style="width: 100%; float: left;">
                            <input type="text" class="form-control" v-model="newTipoDespesa.descricao" placeholder="Descricao">
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted col-sm-12">
            <span><!--Swecca--></span>
            <div align="right">
                <input type="button" class="btn" style="background-color: green; color: white;" v-on:click="save" value="Salvar">
            </div>
        </div>
    </div>
</div><!-- end container -->
<script src="/js/tipoProduto.js"></script>

    <!--ul style="list-style-type: none">
        <li class="col-12 to-left" v-for="(t,index) in tiposProduto">{{t.descricao}}
            <button type="button" v-on:click="deleteTipoDespesa(m.remote_id)">Apagar</button>
            <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
        </li>
    </ul>
    <div class="form-formaPagamento box-input col-3 to-right box-btns">
        <button type="button" class="to-right btns btn-cancel" v-on:click="clear">Cancelar</button>
        <button type="button" class="to-right btns btn-save" v-on:click="save">Salvar</button>
    </div-->