<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo Usuario
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group" style="width: 20%; float: left;">
                            <input type="text" class="form-control" v-model="newUsuario.nome" placeholder="Nome">
                        </div>

                        <div class="form-group" style="width: 19%; float: left; margin-left: 1%;">
                            <input type="email" class="form-control" v-model="newUsuario.email" placeholder="Email">
                        </div>

                        <div class="form-group" style="width: 19%; float: left; margin-left: 1%;">
                            <input type="password" class="form-control" v-model="newUsuario.senha" placeholder="Senha">
                        </div>

                        <div class="form-group" style="width: 19%; float: left; margin-left: 1%;">
                            <select v-model="newUsuario.perfil" class="form-control">
                                <option value="" disabled selected>Perfil</option>
                                <option v-for="p in perfis" v-bind:value="p">
                                    {{ p.descricao }}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer small text-muted col-sm-12">
            <span><!--Swecca--></span>
            <div align="right">
                <input type="button" class="btn btn-sm float-left" style="background-color: #d9534f; color: white;"
                       v-on:click="this.open_file('usuario-list.html')" value="Voltar">
                <input type="button" class="btn" style="background-color: green; color: white;" v-on:click="save" value="Salvar">
            </div>
        </div>
    </div>
</div><!-- end container -->
<script src="/js/usuario.js"></script>




    <!--div class="form-usuario box-input col-3 to-right box-btns">
        <button type="button" class="to-right btns btn-cancel" v-on:click="clear">Cancelar</button>
        <button type="button" class="to-right btns btn-save" v-on:click="save">Salvar</button>
    </div>
    <ul style="list-style-type: none">
        <li class="col-12 to-left" v-for="(m,index) in clientes">{{m.nome}}, {{m.rg}}, {{m.telefone}}, {{m.endereco}}
            <button type="button" v-on:click="deleteCliente(m.remote_id)">Apagar</button>
            <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
        </li>
    </ul-->
