<div class="container" id="app">
    <div class="row">
        <div class="card-header col-sm-12">
            <i class="fa fa-plus" aria-hidden="true"></i> Novo Vendedor
        </div>
        <div class="card-body">
            <form >
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-caixa" style="width: 36.66%; float: left;">
                            <input type="text" class="form-control" v-model="newVendedor.nome" placeholder="Nome">
                        </div>

                        <div class="form-group" style="width: 36.66%; float: left; margin-left: 1.33%;">
                            <input type="email" class="form-control" v-model="newVendedor.email" placeholder="Email">
                        </div>

                    </div>

                    <div class="col-md-12">

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input id="cel" type="text" class="form-control" v-model="newVendedor.telefone" placeholder="Telefone">
                        </div>


                    </div>


                    <div class="col-md-12">

                        <div class="form-group" style="width: 74.66%; float: left;">
                            <input type="text" class="form-control" v-model="newVendedor.regiao" placeholder="Região(ões)">
                        </div>

                        <div class="form-group" style="width: 24%; float: left; margin-left: 1.33%;">
                            <input id="meta" type="text" class="form-control" v-model="newVendedor.meta" placeholder="Meta">
                        </div>

                    </div>

                </div>
            </form>
        </div>
        <div class="card-footer small text-muted col-sm-12">
            <span><!--Swecca--></span>
            <div align="right">
                <input type="button" class="btn btn-sm float-left" style="background-color: #d9534f; color: white;"
                       v-on:click="this.open_file('vendedor-list.html')" value="Voltar">
                <input type="button" class="btn" style="background-color: green; color: white;" v-on:click="save" value="Salvar">
            </div>
        </div>
    </div>
</div><!-- end container -->
<script src="/js/jquery_mask.js"></script>
<script src="/js/vendedor.js"></script>

<!--ul style="list-style-type: none">
    <li class="col-12 to-left" v-for="(m,index) in vendedors">{{m.nome}}, {{m.rg}}, {{m.telefone}}, {{m.endereco}}
        <button type="button" v-on:click="deletevendedor(m.remote_id)">Apagar</button>
        <button type="button" v-on:click="prepareUpdate(index)">Editar</button>
    </li>
</ul-->
